
:root {

}

* {
    margin: 0;
    padding: 0;
}

body {
    transition: background-color .25s, color .25s;
    color: var(--color-text);
    background-color: var(--color-body);
}

#app {
    overflow: hidden;

}

.var-back-top {
    --back-top-bottom: 70px;
    --back-top-right: 1em;

}

.var-link {
    --link-font-size: 1em;
}

.card-R {
    --card-subtitle-color: rgb(76, 175, 80);
}

.card-B {
    --card-subtitle-color: rgba(255, 0, 0);
}

ul {
    margin-top: 0.75em;
    margin-left: 0;
    padding-left: 1em;
    list-style-position: outside;
}

ul > li {
    margin-bottom: 0.35em;
    margin-left: 1.5em;
}
