name: vite build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Setup pnpm
      uses: pnpm/action-setup@v4
      with:
        run_install: false
    - run: pnpm install
    - run: pnpm build
    - name: Package and upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dist-actions
        path: "./dist"
